<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        @media screen and (max-width: 720px) {
            body {
                width: 100% !important;
                max-width: 720px !important;
                background-color: #f2f2f2;
            }
        }
    </style>

    <title>Restablecimiento de contraseña de {{companyName}}</title>
</head>

<body>
    <h2>Tu nueva contraseña de {{companyName}}</h2>
    <p>¡Hey! {{usuario}} tu contraseña de
        {{companyName}} se ha restablecido</p>

    <p>Contraseña nueva:</p>
    <p>{{secretPin}}</p>
    <p>No responda ni reenvié este correo.</p>
    <p>¡Ten un buen dia!</p>
</body>

</html>