<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        @media screen and (max-width: 720px) {
            body {
                width: 100% !important;
                max-width: 720px !important;
                background-color: #f2f2f2;
            }
        }
    </style>

    <title>Restablecer contraseña de {{companyName}}</title>
</head>

<body>
    <h2>Restablece tu contraseña de {{companyName}}</h2>
    <p>¡Hey! {{usuario}} Has solicitado restablecer tu contraseña, copia el siguiente código secreto en la aplicación de
        {{companyName}}</p>

    <p>Entra en la parte que dice: "Olvide mi contraseña" y luego toca donde dice: "Tengo un código secreto", luego
        copia y pega el siguiente código secreto</p>

    <p>Codigo secreto:</p>
    <p>{{secretPin}}</p>
    <p>Tu código expirara a las:</p>
    <p>{{expirationTime}}</p>
    <p>No respondas ni reenvíes este correo.</p>
    <p>Si no solicitaste restablecer tu contraseña de {{companyName}}, ignora este correo</>
    <p>¡Ten un buen dia!</p>
</body>

</html>